.card-preview{
  position: relative;
  width: 320px;
  margin: auto;
}

.card-preview img{
  width: 100%;
}

.card-text{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 80%;
}
