.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
    max-width: 300px;
    margin: 0 auto;
    flex-wrap: wrap;
    overflow-y: auto;
}

.card-grid::-webkit-scrollbar {
  height: 8px;
}



