.card-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    max-width: 300px;
    margin: 0 auto;
    flex:1;
    overflow-y: auto;
    height: 100vh;
}

.card-grid::-webkit-scrollbar {
  height: 8px;
}



