.card-grid-2{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 35px;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    flex:1;
    overflow-y: auto;
    height: 100vh;
}

.card-grid-2::-webkit-scrollbar {
  height: 8px;
}



.h7{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing : auto;
    font-weight: 500;
    font-style: normal;
    color: #b95e70;
}


