.popup-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    pointer-events: none;
}

.popup-content{
    background-color: #ff4d6d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    pointer-events: auto;
    animation: popupAnimation 0.3s ease-out;
    background: #ed8d9e5f;
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 25px;
}


.button {
    background-color: #e096a8;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.button:hover {
    background-color: #ff4d6d;
}

@keyframes popupAnimation {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}