.send-rose-btn{
    background-color: #e096a8;
    border: rgba(181, 26, 58, 0.2);
    size: 0rch;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 8px 20px;
    font-size: 16px;
    box-shadow: 0 8px 20px rgba(181, 26, 58, 0.3);
    transition: all 0.3s ease;
    border-radius: 40px;
    width: max-content;
    min-width: 160px;
    height: 50px;
}

.send-rose-btn:hover{
    background-color: #ff4d6d;
    box-shadow: 0 12px 30px rgba(255, 77, 109, 0.4);
    transform: translateY(-2px);

    }

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    max-width: 300px;
}